// COLOR PALETTE
$primary: #033063;
$secondary: #142E4A;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;

// FONT STACKS
$heading: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body: Georgia, Times, serif;